.sidenav {
	margin-top: 30px;
	padding-top: 10px;
	height: 100%;
	width: 15%;
	position: fixed;
	color: #3E003E;
}
/*.sidenav:hover{
	opacity: 0.4;
	background-color:white;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}*/
.sidenav ul li{
	text-align: left;
	vertical-align: middle;
	height: 23px;
	width: auto;
	line-height: 30px;
	font-size: 20px;
	padding: 15px 0;
	font-family: 'Raleway', Verdana;
}

.sidenav a:hover{
	color: #FE72FE;
}

@media only screen and (max-width: 900px) {
	.sidenav {
		display: none;
	}
}